In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/svdkmeansdataset/users.dat
/kaggle/input/svdkmeansdataset/ratings.dat
/kaggle/input/svdkmeansdataset/movies.dat

<h2><b>Read the data from the file "movies.dat"</b></h2>

In [2]:
df_movies = pd.read_table('/kaggle/input/svdkmeansdataset/movies.dat', sep="::", encoding='latin1', engine='python',header=None)

**<h2>Renaming the columns of the DataFrame</h2>**

In [3]:
df_movies = df_movies.rename(columns={0:'MovieID',1:'Title',2:'Genres'})
df_movies.head(70)

,MovieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
65,66,Lawnmower Man 2: Beyond Cyberspace (1996),Sci-Fi|Thriller
66,67,Two Bits (1995),Drama
67,68,French Twist (Gazon maudit) (1995),Comedy|Romance
68,69,Friday (1995),Comedy
69,70,From Dusk Till Dawn (1996),Action|Comedy|Crime|Horror|Thriller

<h2><b>Read the data from the file "users.dat"</b></h2>

In [4]:
df_users = pd.read_table('/kaggle/input/svdkmeansdataset/users.dat', sep="::", encoding='latin1', engine='python',header=None)

#Renaming the columns of the DataFrame
df_users = df_users.rename(columns={0:'UserID',1:'Gender',2:'Age',3:'Occupation',4:'Zip-code'})
df_users

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
...      ...    ...  ...         ...      ...
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

# **Adding new user**

In [5]:
# New user's information
new_user_info = {
    'UserID': [0],
    'Gender': ['M'],
    'Age': [30],
    'Occupation': [12],
    'Zip-code':['90210']
}
# Create a new DataFrame with the new user information
new_user_df = pd.DataFrame(new_user_info, index=[0])

# Concatenate the new user DataFrame at the beginning of the existing DataFrame
df_users = pd.concat([new_user_df, df_users], ignore_index=True)

# Display the updated DataFrame
print(df_users)

      UserID Gender  Age  Occupation Zip-code
0          0      M   30          12    90210
1          1      F    1          10    48067
2          2      M   56          16    70072
3          3      M   25          15    55117
4          4      M   45           7    02460
...      ...    ...  ...         ...      ...
6036    6036      F   25          15    32603
6037    6037      F   45           1    76006
6038    6038      F   56           1    14706
6039    6039      F   45           0    01060
6040    6040      M   25           6    11106

[6041 rows x 5 columns]

<h2><b>Read the data from the file "ratings.dat"</b></h2>

In [8]:
df_ratings = pd.read_table('/kaggle/input/svdkmeansdataset/ratings.dat', sep="::", encoding='latin1', engine='python',header=None)
df_ratings = df_ratings.rename(columns={0:'UserID',1:'MovieID',2:'Rating',3:'Timestamp'})
df_ratings

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

<h2><b>Adding movies and ratings for the new user</b></h2>

In [9]:
new_rating_info = [
    'UserID',
    'MovieID',
    'Rating',
    'Timestamp'
]
new_ratings_df = pd.DataFrame(columns=new_rating_info)

# Asking user for input
n = int(input("Enter the number of movies you have watched: "))

# Looping through user input to collect movie ratings
for i in range(n):
    user_id = 0  # Assuming user ID is 0 for now
    user_input_value = input("Enter the name of the movie you have watched to get recommendations on newer movies: ")
    MovieID = df_movies[df_movies['Title'] == user_input_value]['MovieID'].iloc[0]  # Extracting the scalar value
    Rating = int(input("Give the rating for the movie (between 1 and 5): "))
    Timestamp = int(input("Give the timestamp for the rating: "))

    # Append the data to the DataFrame
    new_ratings_df.loc[len(new_ratings_df)] = [user_id, MovieID, Rating, Timestamp]

print("New ratings DataFrame:")
print(new_ratings_df)

Enter the number of movies you have watched:  5
Enter the name of the movie you have watched to get recommendations on newer movies:  Romeo and Juliet (1968)
Give the rating for the movie (between 1 and 5):  5
Give the timestamp for the rating:  12
Enter the name of the movie you have watched to get recommendations on newer movies:  12 Angry Men (1957)
Give the rating for the movie (between 1 and 5):  4
Give the timestamp for the rating:  13
Enter the name of the movie you have watched to get recommendations on newer movies:  Godfather, The (1972)
Give the rating for the movie (between 1 and 5):  5
Give the timestamp for the rating:  14
Enter the name of the movie you have watched to get recommendations on newer movies:  Silence of the Lambs, The (1991)
Give the rating for the movie (between 1 and 5):  4
Give the timestamp for the rating:  15
Enter the name of the movie you have watched to get recommendations on newer movies:  Gone with the Wind (1939)
Give the rating for the movie (between 1 and 5):  3
Give the timestamp for the rating:  16

New ratings DataFrame:
   UserID  MovieID  Rating  Timestamp
0       0     3668       5         12
1       0     1203       4         13
2       0      858       5         14
3       0      593       4         15
4       0      920       3         16

<h2><b>Concatenate the new_rating_df with the df_ratings</b></h2>

In [10]:
# Concatenate the new rating DataFrame at the beginning of the existing DataFrame
df_ratings = pd.concat([new_ratings_df, df_ratings], ignore_index=True)

# Display the updated DataFrame
df_ratings

         UserID  MovieID  Rating  Timestamp
0             0     3668       5         12
1             0     1203       4         13
2             0      858       5         14
3             0      593       4         15
4             0      920       3         16
...         ...      ...     ...        ...
1000209    6040     1091       1  956716541
1000210    6040     1094       5  956704887
1000211    6040      562       5  956704746
1000212    6040     1096       4  956715648
1000213    6040     1097       4  956715569

[1000214 rows x 4 columns]

<h2><b>Merging all the three Dataframes</b></h2>

In [11]:
result = df_ratings.merge(df_movies, on='MovieID').merge(df_users, on='UserID')
result

,UserID,MovieID,Rating,Timestamp,Title,Genres,Gender,Age,Occupation,Zip-code
0,0,3668,5,12,Romeo and Juliet (1968),Drama|Romance,M,30,12,90210
1,0,1203,4,13,12 Angry Men (1957),Drama,M,30,12,90210
2,0,858,5,14,"Godfather, The (1972)",Action|Crime|Drama,M,30,12,90210
3,0,593,4,15,"Silence of the Lambs, The (1991)",Drama|Thriller,M,30,12,90210
4,0,920,3,16,Gone with the Wind (1939),Drama|Romance|War,M,30,12,90210
...,...,...,...,...,...,...,...,...,...,...
1000209,6040,1091,1,956716541,Weekend at Bernie's (1989),Comedy,M,25,6,11106
1000210,6040,1094,5,956704887,"Crying Game, The (1992)",Drama|Romance|War,M,25,6,11106
1000211,6040,562,5,956704746,Welcome to the Dollhouse (1995),Comedy|Drama,M,25,6,11106
1000212,6040,1096,4,956715648,Sophie's Choice (1982),Drama,M,25,6,11106
1000213,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,M,25,6,11106

<h2><b>Creating a dataframe between UserID and MovieID</b></h2>

In [12]:
rating= result.pivot(index='UserID', columns='MovieID', values='Rating').fillna(0)
rating

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
UserID,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
if len(result[(result['UserID'] == 1) & (result['MovieID'] == 1) & (result['Rating'] == 5)]) > 0:
    print("User 1 has seen movie 1 and given it a rating of 5")
else:
    print("User 1 has not seen movie 1 or has not given itÂ aÂ ratingÂ ofÂ 1")

User 1 has seen movie 1 and given it a rating of 5

<h1><b>Using SVD</b></h1>

<h4><b>-> 'user_ratings_mean' array containing the mean rating given by each user in the ratings matrix R</b></h4>

In [110]:
R = rating.values
user_ratings_mean = np.mean(R,axis = 1)

In [111]:
user_ratings_mean.size

6041

<h4><b>-> Building SVD from scratch</b></h4>

In [112]:
def power_iteration(A, num_iterations=300, tol=1e-6):
    n = A.shape[0]
    eigenvalues = []
    eigenvectors = []
    
    for _ in range(num_iterations):
        b = np.random.rand(n)  # Initialize a random vector
        for _ in range(num_iterations):
            b_next = np.dot(A, b)
            b_next_norm = np.linalg.norm(b_next, ord=np.inf)
            if b_next_norm == 0:
                b_next_norm = 1
            b_next = b_next / b_next_norm
            if np.linalg.norm(b - b_next, ord=2) < tol:
                break
            b = b_next
        eigenvalue = np.dot(b, np.dot(A, b))  # Rayleigh quotient for the eigenvalue
        eigenvalues.append(eigenvalue)
        eigenvectors.append(b)
        
        # Deflate the matrix
        A = A - eigenvalue * np.outer(b, b)
        
    return np.array(eigenvalues), np.array(eigenvectors).T

In [113]:
def svd(R):
    # Step 1: Compute the covariance matrix
    A = np.dot(R.T, R)

    # Step 2: Compute the eigenvalues and eigenvectors of the covariance matrix
#     eigenvalues, V = np.linalg.eig(A)
    eigenvalues, V = power_iteration(A)

    # Step 3: Compute the singular values and right singular vectors
    sigma = np.sqrt(np.abs(eigenvalues)) * np.sign(eigenvalues)
    Vt = V.T

    # Step 4: Compute the left singular vectors from the right singular vectors
    U = np.dot(R, V) / sigma

    return U, sigma, Vt

def svd_new(R, k):
    
    mask = ~np.isfinite(R).any(axis=1)
    if np.sum(mask) > 0:
        print('Non-finite values detected in R. Removing rows...')
        R = R[~mask, :]
        
    U, sigma, Vt = svd(R)
    
    # Reshape U and Vt if necessary
    if U.ndim == 1:
        U = U.reshape(-1, 1)
    if Vt.ndim == 1:
        Vt = Vt.reshape(1, -1)
    
    U = U[:, :k]
    sigma = np.diag(sigma[:k])
    Vt = Vt[:k, :]
    return U, sigma, Vt

<h4><b>-> Here we will be getting User vector, Diagonalization Matrix, Movie vector</b></h4>
<h4><b>-> Sigma's with very small weight might be noise. So just remove them </b></h4>
<h4><b>-> Each rating is obtained as a weighted dot product between corresponding user vector and item vector with singular values as the weight</b></h4>

In [114]:
U, sigma, Vt = svd_new(R, k = 50)
all_user_predicted_ratings=np.dot(np.dot(U,sigma),Vt)+user_ratings_mean.reshape(-1,1)
all_user_predicted_ratings = pd.DataFrame(all_user_predicted_ratings, columns=rating.columns)
all_user_predicted_ratings

/tmp/ipykernel_545/1852535482.py:13: RuntimeWarning: invalid value encountered in divide
  b_next = b_next / b_next_norm

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
0,369.571375,124.062423,72.540445,28.055636,51.203791,192.209836,86.958609,10.931695,17.432134,170.004713,...,15.122061,0.927962,2.677169,10.759509,10.352195,133.529871,68.076951,13.785980,6.151420,69.857103
1,3250.344141,1091.123583,637.994215,246.755885,450.341015,1690.471569,764.800167,96.152958,153.323504,1495.180282,...,133.006703,8.171378,23.555432,94.638603,91.056326,1174.388603,598.738348,121.256035,54.111035,614.394560
2,6399.318301,2148.225307,1256.100102,485.826533,886.646782,3328.227050,1505.756808,189.318128,301.876017,2943.735796,...,261.876115,16.099195,46.387460,186.336651,179.283833,2312.158232,1178.812795,238.741292,106.545608,1209.636887
3,3451.728344,1158.720622,677.514968,262.035174,478.234614,1795.204724,812.177925,102.100761,162.813643,1587.813021,...,141.237995,8.667766,25.005029,100.492574,96.688337,1247.144814,635.826773,128.759245,57.453883,652.453058
4,1844.609981,619.219145,362.061267,140.027505,255.565193,959.358333,434.025593,54.558030,87.003193,848.527528,...,75.473097,4.627132,13.357819,53.698610,51.665613,666.473322,339.782959,68.804412,30.698593,348.668100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,23413.227335,7859.937459,4595.957598,1777.791041,3244.254729,12177.158745,5509.365779,692.968577,1104.779250,10770.437241,...,958.433340,59.219966,170.034331,682.060376,656.256535,8459.711752,4313.189872,873.790967,390.132340,4425.964645
6037,9579.765317,3215.894609,1880.386430,727.289707,1327.316156,4982.352914,2254.121609,283.417705,451.916454,4406.770909,...,392.036746,24.109594,69.451017,278.954445,268.396402,3461.301599,1764.687613,357.404001,159.507544,1810.831167
6038,956.845548,321.209971,187.816860,72.643354,132.575143,497.647205,225.146244,28.308569,45.138546,440.156973,...,39.157647,2.408379,6.937167,27.862770,26.808213,345.721690,176.260641,35.698462,15.932185,180.869547
6039,4828.118722,1620.800678,947.719832,366.572273,668.978740,2511.075458,1136.078087,142.865861,227.787303,2220.988712,...,197.608616,12.177539,35.029098,140.616429,135.295296,1744.482994,889.408951,180.154108,80.416557,912.664775
6040,13063.197211,4385.305958,2564.182420,991.798499,1810.005612,6794.081023,3073.814590,386.526467,616.294462,6009.206804,...,534.641391,32.929153,94.757551,380.440283,366.043141,4719.947447,2406.413382,487.415542,217.560290,2469.335582

<h4><b>-> Removing the complex part</b></h4>

In [115]:
all_user_predicted_ratings = all_user_predicted_ratings.applymap(lambda x: x.real)
all_user_predicted_ratings

/tmp/ipykernel_545/1735788082.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  all_user_predicted_ratings = all_user_predicted_ratings.applymap(lambda x: x.real)

MovieID,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
0,369.571375,124.062423,72.540445,28.055636,51.203791,192.209836,86.958609,10.931695,17.432134,170.004713,...,15.122061,0.927962,2.677169,10.759509,10.352195,133.529871,68.076951,13.785980,6.151420,69.857103
1,3250.344141,1091.123583,637.994215,246.755885,450.341015,1690.471569,764.800167,96.152958,153.323504,1495.180282,...,133.006703,8.171378,23.555432,94.638603,91.056326,1174.388603,598.738348,121.256035,54.111035,614.394560
2,6399.318301,2148.225307,1256.100102,485.826533,886.646782,3328.227050,1505.756808,189.318128,301.876017,2943.735796,...,261.876115,16.099195,46.387460,186.336651,179.283833,2312.158232,1178.812795,238.741292,106.545608,1209.636887
3,3451.728344,1158.720622,677.514968,262.035174,478.234614,1795.204724,812.177925,102.100761,162.813643,1587.813021,...,141.237995,8.667766,25.005029,100.492574,96.688337,1247.144814,635.826773,128.759245,57.453883,652.453058
4,1844.609981,619.219145,362.061267,140.027505,255.565193,959.358333,434.025593,54.558030,87.003193,848.527528,...,75.473097,4.627132,13.357819,53.698610,51.665613,666.473322,339.782959,68.804412,30.698593,348.668100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,23413.227335,7859.937459,4595.957598,1777.791041,3244.254729,12177.158745,5509.365779,692.968577,1104.779250,10770.437241,...,958.433340,59.219966,170.034331,682.060376,656.256535,8459.711752,4313.189872,873.790967,390.132340,4425.964645
6037,9579.765317,3215.894609,1880.386430,727.289707,1327.316156,4982.352914,2254.121609,283.417705,451.916454,4406.770909,...,392.036746,24.109594,69.451017,278.954445,268.396402,3461.301599,1764.687613,357.404001,159.507544,1810.831167
6038,956.845548,321.209971,187.816860,72.643354,132.575143,497.647205,225.146244,28.308569,45.138546,440.156973,...,39.157647,2.408379,6.937167,27.862770,26.808213,345.721690,176.260641,35.698462,15.932185,180.869547
6039,4828.118722,1620.800678,947.719832,366.572273,668.978740,2511.075458,1136.078087,142.865861,227.787303,2220.988712,...,197.608616,12.177539,35.029098,140.616429,135.295296,1744.482994,889.408951,180.154108,80.416557,912.664775
6040,13063.197211,4385.305958,2564.182420,991.798499,1810.005612,6794.081023,3073.814590,386.526467,616.294462,6009.206804,...,534.641391,32.929153,94.757551,380.440283,366.043141,4719.947447,2406.413382,487.415542,217.560290,2469.335582

<h2><b>Using k means</b></h2>

<h4><b>-> Building k means from scratch</b></h4>

In [116]:


class KMeans:
    def _init_(self):
        pass

    def fit(self, X, n_clusters=8, max_iter=10,random_state=None):
        self.n_clusters = n_clusters
        self.max_iter = max_iter
        self.random_state = random_state
        if isinstance(X, pd.DataFrame):
            X = X.values

        if self.random_state is not None:
            np.random.seed(self.random_state)
            
        
        # Initialize centroids randomly
        centroids = X[np.random.choice(X.shape[0], self.n_clusters, replace=False)]
        
        for _ in range(self.max_iter):
            # Compute distances between each point and centroids
            distances = np.sqrt(((X[:, np.newaxis] - centroids) ** 2).sum(axis=2))
            
            # Assign each data point to the closest centroid
            labels = np.argmin(distances, axis=1)
            
            # Update centroids
            new_centroids = np.array([X[labels == k].mean(axis=0) for k in range(self.n_clusters)])
            
            # Check for convergence
            if np.all(centroids == new_centroids):
                break
                
            centroids = new_centroids
        
        self.labels_ = labels
        self.cluster_centers_ = centroids

    def predict(self, X):
        if isinstance(X, pd.DataFrame):
            X = X.values
        distances = np.sqrt(((X[:, np.newaxis] - self.cluster_centers_) ** 2).sum(axis=2))
        return np.argmin(distances, axis=1)

<h4><b>-> We will call the Kmeans function</b></h4>

In [117]:

from sklearn.metrics import pairwise_distances_argmin_min

temp = all_user_predicted_ratings.reset_index(drop=True, inplace=True)

# Apply KMeans clustering on the predicted ratings
kmeans = KMeans()
kmeans.fit(all_user_predicted_ratings, n_clusters=120, random_state=42)

<h4><b>Distance(square root) based recommendation[kmeans]</b></h4>
<h4><b>-> Compute normalized distances between each point and centroids</b></h4>
<h4><b>-> Getting Recommendations based on that</b></h4>

In [118]:
# Function to recommend movies for a particular user
def recommend_movies_for_user(user_id, k=30):
    # Find the index of the user
    user_index = user_id - 1  # Assuming user IDs start from 1
    # Transform user's ratings into the reduced dimensional space
    user_ratings_embedding = all_user_predicted_ratings.iloc[user_index].values.reshape(1, -1)
    # Find the cluster label of the user
   # cluster_label = kmeans.labels_[user_index]
    cluster_label = kmeans.predict(user_ratings_embedding)[0]
    # Find the users in the same cluster
    cluster_indices = np.where(kmeans.labels_ == cluster_label)[0]
    # Compute distances between the given user and all other users in the cluster
    distances = pairwise_distances_argmin_min(user_ratings_embedding, all_user_predicted_ratings.iloc[cluster_indices])[1]
    # Sort by distance and get top k users
    recommended_user_indices = [cluster_indices[i] for i in np.argsort(distances)]
    # Get movie recommendations from the top user in the cluster
    recommended_movies = all_user_predicted_ratings.iloc[recommended_user_indices[0]].sort_values(ascending=False).index[:k]
    return recommended_movies

# Example usage
user_id = 0  # Input your user ID
recommendations = recommend_movies_for_user(user_id)
print("Recommendations for User {}: ".format(user_id))
for i, movie_id in enumerate(recommendations, 1):
    movie_name=df_movies[df_movies['MovieID']==movie_id]['Title']
    movie_genres=df_movies[df_movies['MovieID']==movie_id]['Genres']
    print("{}. Movie Name: {} Movie_Genres:{} ".format(i, movie_name.values,movie_genres.values))

Recommendations for User 0:
1. Movie Name: ['Star Wars: Episode IV - A New Hope (1977)'] Movie_Genres:['Action|Adventure|Fantasy|Sci-Fi']
2. Movie Name: ['Star Wars: Episode V - The Empire Strikes Back (1980)'] Movie_Genres:['Action|Adventure|Drama|Sci-Fi|War']
3. Movie Name: ['American Beauty (1999)'] Movie_Genres:['Comedy|Drama']
4. Movie Name: ['Raiders of the Lost Ark (1981)'] Movie_Genres:['Action|Adventure']
5. Movie Name: ['Matrix, The (1999)'] Movie_Genres:['Action|Sci-Fi|Thriller']
6. Movie Name: ['Silence of the Lambs, The (1991)'] Movie_Genres:['Drama|Thriller']
7. Movie Name: ['Star Wars: Episode VI - Return of the Jedi (1983)'] Movie_Genres:['Action|Adventure|Romance|Sci-Fi|War']
8. Movie Name: ['Saving Private Ryan (1998)'] Movie_Genres:['Action|Drama|War']
9. Movie Name: ['Fargo (1996)'] Movie_Genres:['Crime|Drama|Thriller']
10. Movie Name: ['Terminator 2: Judgment Day (1991)'] Movie_Genres:['Action|Sci-Fi|Thriller']
11. Movie Name: ['Back to the Future (1985)'] Movie_Genres:['Comedy|Sci-Fi']
12. Movie Name: ['Shawshank Redemption, The (1994)'] Movie_Genres:['Drama']
13. Movie Name: ['Sixth Sense, The (1999)'] Movie_Genres:['Thriller']
14. Movie Name: ['Princess Bride, The (1987)'] Movie_Genres:['Action|Adventure|Comedy|Romance']
15. Movie Name: ['Godfather, The (1972)'] Movie_Genres:['Action|Crime|Drama']
16. Movie Name: ['Pulp Fiction (1994)'] Movie_Genres:['Crime|Drama']
17. Movie Name: ["Schindler's List (1993)"] Movie_Genres:['Drama|War']
18. Movie Name: ['Braveheart (1995)'] Movie_Genres:['Action|Drama|War']
19. Movie Name: ['Jurassic Park (1993)'] Movie_Genres:['Action|Adventure|Sci-Fi']
20. Movie Name: ['L.A. Confidential (1997)'] Movie_Genres:['Crime|Film-Noir|Mystery|Thriller']
21. Movie Name: ['Terminator, The (1984)'] Movie_Genres:['Action|Sci-Fi|Thriller']
22. Movie Name: ['Men in Black (1997)'] Movie_Genres:['Action|Adventure|Comedy|Sci-Fi']
23. Movie Name: ['Groundhog Day (1993)'] Movie_Genres:['Comedy|Romance']
24. Movie Name: ['E.T. the Extra-Terrestrial (1982)'] Movie_Genres:["Children's|Drama|Fantasy|Sci-Fi"]
25. Movie Name: ['Forrest Gump (1994)'] Movie_Genres:['Comedy|Romance|War']
26. Movie Name: ['Fugitive, The (1993)'] Movie_Genres:['Action|Thriller']
27. Movie Name: ['Shakespeare in Love (1998)'] Movie_Genres:['Comedy|Romance']
28. Movie Name: ['Toy Story (1995)'] Movie_Genres:["Animation|Children's|Comedy"]
29. Movie Name: ['Alien (1979)'] Movie_Genres:['Action|Horror|Sci-Fi|Thriller']
30. Movie Name: ['Ghostbusters (1984)'] Movie_Genres:['Comedy|Horror']

<h4><b>Pearson based approach[kmeans]</b></h4>

In [119]:
# Function to recommend movies for a particular user
def recommend_movies_for_user(user_id, k=30):
    # Find the index of the user
    user_index = user_id - 1  # Assuming user IDs start from 1
    # Transform user's ratings into the reduced dimensional space
    user_ratings_embedding = all_user_predicted_ratings.iloc[user_index].values.reshape(1, -1)
    # Find the cluster label of the user
    cluster_label = kmeans.labels_[user_index]
    # Find the users in the same cluster
    cluster_indices = np.where(kmeans.labels_ == cluster_label)[0]
    return cluster_indices

# Example usage
user_id = 0  # Input your user ID
cluster_user_ids = recommend_movies_for_user(user_id)
cluster_user_ids

array([ 199,  687,  777,  850,  999, 1164, 1230, 1542, 1746, 1755, 1776,
       1794, 1851, 1916, 2056, 2389, 2465, 2629, 2743, 2752, 2774, 2847,
       2854, 2941, 3044, 3128, 3205, 3260, 3353, 3411, 3487, 3621, 3770,
       3946, 4094, 4310, 4384, 4509, 4520, 4562, 4611, 4653, 4675, 4796,
       4816, 4942, 5047, 5113, 5277, 5412, 5568, 5615, 5698, 5786, 5874,
       5948, 6040])

In [120]:
def pearson_correlation(user_ratings, other_user_ratings):
    # Mean of user ratings
    mean_user = np.mean(user_ratings)
    mean_other_user = np.mean(other_user_ratings)
    
    # Compute covariance
    cov = np.sum((user_ratings - mean_user) * (other_user_ratings - mean_other_user))
    
    # Compute standard deviations
    std_user = np.sqrt(np.sum((user_ratings - mean_user) ** 2))
    std_other_user = np.sqrt(np.sum((other_user_ratings - mean_other_user) ** 2))
    
    # Compute Pearson correlation coefficient
    pearson_corr = cov / (std_user * std_other_user)
    
    return pearson_corr



new_user=0
#getting the rating vector for the new user
user_ratings = all_user_predicted_ratings.iloc[new_user]
#getting the rating vector for the cluster user
cluster_user_ratings = all_user_predicted_ratings.iloc[cluster_user_ids]

# Compute Pearson correlation with other users

user_similarity = {}
for other_user_id, other_user_ratings in cluster_user_ratings.iterrows():
    if other_user_id != new_user:
        similarity = pearson_correlation(user_ratings, other_user_ratings)
        user_similarity[other_user_id] = similarity
        
user_similarity = pd.Series(user_similarity)
# Take a look at the data
user_similarity.head()


# Number of similar users
n = 10
# Get top n similar users
similar_users = user_similarity.sort_values(ascending=False)[:n]
# Print out top n similar users
print(f'The similar users for user {user_id} are: \n',similar_users)

The similar users for user 0 are:
 199     1.0
2752    1.0
3621    1.0
4611    1.0
2465    1.0
4094    1.0
3205    1.0
3260    1.0
687     1.0
3487    1.0
dtype: float64

<h2><b>Calculating similarity score</b></h2>

In [121]:
# A dictionary to store movie scores
item_score = {}

# Loop through the similar movies
for i in cluster_user_ratings.columns: #movie vector
    
  # Retrieve the ratings for movie i
  movie_rating = cluster_user_ratings[i]
    
  # Create a variable to store the movie score
  total = 0
    
  # Create a variable to store the number of scores
  count = 0
    
  # Loop through similar users
  for u in similar_users.index:
        
    # Score is the sum of user similarity score multiply by the movie rating
    score = similar_users[u] * movie_rating[u]
    
    # Add the score to the total score for the movie so far
    total += score
    count +=1
    
  # Get the average score for the item
  item_score[i] = total / count # Formula: Summation(user_similarity_value * rating given by the user)/total number of similar users.
    
# Convert dictionary to pandas dataframe
item_score = pd.DataFrame(item_score.items(), columns=['movie', 'movie_score'])
    
# Sort the movies by score
top_recommended_movies = item_score.sort_values(by='movie_score', ascending=False)

top_recommended_movies.rename(columns={'movie': 'MovieID'}, inplace=True)



# Select top k movies
k = 20
top_recommended_movies['MovieID'] = top_recommended_movies['MovieID'].astype(int)
top_recommended_movies

      MovieID   movie_score
253       260  18272.329761
1106     1196  18161.207420
2651     2858  17380.357208
1108     1198  16593.056528
2374     2571  16145.324004
...       ...           ...
633       655      0.464337
2989     3209      0.450749
658       684      0.378178
122       127      0.369182
128       133      0.335420

[3706 rows x 2 columns]

<h4><b>Recommendations on Pearson based approach</b></h4>

In [122]:
merged_df = pd.merge(df_movies, top_recommended_movies, on='MovieID')
merged_df_sorted = merged_df.sort_values(by='movie_score', ascending=False)
merged_df_sorted.head(20)

,MovieID,Title,Genres,movie_score
253,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi,18272.329761
1106,1196,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War,18161.207420
2651,2858,American Beauty (1999),Comedy|Drama,17380.357208
1108,1198,Raiders of the Lost Ark (1981),Action|Adventure,16593.056528
2374,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,16145.324004
579,593,"Silence of the Lambs, The (1991)",Drama|Thriller,15783.967551
1120,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War,15699.760970
1848,2028,Saving Private Ryan (1998),Action|Drama|War,15642.937703
593,608,Fargo (1996),Crime|Drama|Thriller,15523.803573
575,589,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller,15203.707698
1178,1270,Back to the Future (1985),Comedy|Sci-Fi,15137.317530
309,318,"Shawshank Redemption, The (1994)",Drama,14832.574701
2557,2762,"Sixth Sense, The (1999)",Thriller,14727.886685
1107,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance,14689.203602
802,858,"Godfather, The (1972)",Action|Crime|Drama,14570.535820
287,296,Pulp Fiction (1994),Crime|Drama,14419.087089
513,527,Schindler's List (1993),Drama|War,14415.365479
106,110,Braveheart (1995),Action|Drama|War,14343.052314
466,480,Jurassic Park (1993),Action|Adventure|Sci-Fi,14060.408466
1485,1617,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller,13919.000959